.modal_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: absolute; */
}

.hide {
  display: none;
}

.container {
  padding: 1rem;
  background-color: var(--second-surface);
  border-radius: var(--border-rad);
  line-height: 150%;
  position: absolute;
  width: fit-content;
  max-width: 960px;
  margin: 0 1rem;
  box-shadow: var(--shadow-lg);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99;
}

.btn {
  font-size: clamp(1rem, 0.7vw + 0.5rem, 2.5rem);
  width: clamp(150px, 10vw, 9vw);
  height: clamp(50px, 3vw, 2.5vw);
  background-color: var(--accent-inverted);
  color: var(--text-inverted);
  border-radius: 15px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--accent);
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 2));
}

.close_btn {
  margin: 1rem;
}

@media (max-width: 960px) {
  .reading_piece_container {
    top: 0;
  }

  .container {
    left: 0;
    width: 100%;
    margin: 0;
  }
}
