.modal_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}

.hide {
  visibility: hidden;
}

.container {
  padding: 1rem;
  background-color: var(--second-surface);
  border-radius: var(--border-rad);
  line-height: 150%;
  position: absolute;
  width: fit-content;
  max-width: 960px;
  margin: 0 1rem;
  box-shadow: var(--shadow-lg);
  display: flex;
  flex-direction: column;
  z-index: 99;
}

.btn {
  font-size: clamp(1rem, 0.7vw + 0.5rem, 2.5rem);
  width: clamp(150px, 10vw, 10vw);
  height: clamp(50px, 3vw, 70vw);
  background-color: green;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.close_btn {
  margin: 1rem;
}

@media (max-width: 960px) {
  .reading_piece_container {
    top: 0;
  }
}
