.center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  align-items: center;
  padding-bottom: 10vw;
  max-width: 960px;
  margin: auto;
}

.btn {
  width: 500px;
  height: 500px;
  background-color: red;
  position: absolute;
  top: 0;
}
