.page_container {
  z-index: 0;
  background-color: var(--surface);
  margin: 1rem auto;
  border-radius: var(--border-rad);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: flex-end;
}

.info {
  display: inline;
  border: 2px solid grey;
  height: fit-content;
  padding: 0.5vw;
  border-radius: 10px;
  font-size: clamp(0.1rem, 2vw + 0.1rem, 1rem);
}

.info_container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.green {
  color: green;
}

.correct_answer {
  background-color: var(--accent);
}

.question {
  font-size: clamp(0.4rem, 2vw + 0.4rem, 2rem);
  margin: 0 auto;
  height: 10vh;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  text-align: center;
}

.answer {
  font-size: clamp(0.2rem, 2vw + 0.2rem, 1.5rem);
}

.answer_container {
  border: solid rgb(122, 114, 114);
  padding: 1rem;
  margin-top: 0.5em;
  width: 100%;
  margin: auto;
  border-width: 1px 2px;
}
.answer_container:first-child {
  border-width: 2px 2px 1px 2px;
}
.answer_container:last-child {
  border-width: 1px 2px 2px 2px;
}

.result_container {
  display: flex;
  flex-direction: column;
  background-color: var(--second-surface);
  padding: 1rem;
  border-radius: var(--border-rad);
  width: -webkit-fill-available;
  width: -moz-available;
}

.user_answer {
  border: solid var(--user-answer) 3px !important;
}

.playagain_container {
  display: flex;
  align-items: center;
  z-index: 0;
  justify-content: space-around;
  flex-wrap: wrap;
  min-width: 0px;
  gap: 1rem;
}

.results_div {
  position: relative;
  top: -5vw;
  max-width: 960px;
}
