.line {
  font-size: 2vw;
  text-align: center;
  height: 500px;
  color: var(--text-muted);
}
.btn {
  padding: 0.1rem 1rem;
  font-size: 2em;
}
.btn:hover {
  background-color: lightgreen;
}

.labl {
  font-size: 1.5rem;
  padding: 1rem;
}
.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 75px;
}
.inpt {
  margin-left: 10px;
  font-size: 1.5em;
  padding-left: 10px;
  width: 100px;
}
.center {
  padding-top: 10vw;
  height: 100vh;
}
.hide {
  display: none;
}

.loading_container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 500px;
}

.spinner {
  margin-top: 16px;
}
